.VR_ModalEmpty_All_HeaderBlock {
    width: 100%;
    height: 100%;

    position: relative;

    border-radius: 15px;

    background: white;
}

.VR_ModalEmpty_Title_Block {
    width: 100%;
    height: 50%;

    border-radius: 15px;

    display: flex;
    
    align-items: center;
    justify-content: center;
}

.VR_ModalEmpty_Btn_Block {
    width: 100%;
    height: 50%;

    border-radius: 15px;

    display: flex;

    align-items: center;
    justify-content: center;
}