
.VR_Container_Title {
    /* max-width: 90%; */
    /* margin: auto; */
    text-align: center;
}

.VR_Podservice_Select {
    width: 100%;
    max-width: none;
}

.VR_Container_Header {
    max-width: 50%;

    position: relative;
}

/* .VR_Container_Flex {
    display: flex;
    justify-content: space-between;

    position: relative;
} */

/* .VR_Container_Flex_Form {
    flex-grow: 1;
}

.VR_RightContent_Main {
    border: 1px solid black;
    position: fixed;

    top: 7.7rem;
    top: 0;
    bottom: 0;
    right: 0;
    left: 75rem;
} */


.ModalEmpty_HeaderBlock {    
    width: 25%;
    height: 20%;
    
    position: fixed;
    
    top: 50%;
    left: 50%;

    transform: translate(-50%, -60%);

    border: 1px solid #ccc;
    border-radius: 15px;

    box-shadow: 0px 0px 15px rgb(255, 0, 0, 0.6);
}

.ModalSuccess_headerBlock {
    width: 25%;
    height: 20%;
    
    position: fixed;
    
    top: 50%;
    left: 50%;

    transform: translate(-50%, -60%);

    border: 1px solid #ccc;
    border-radius: 15px;

    box-shadow: 0px 0px 15px rgb(0, 255, 0, 0.6);
}

.VR_FlexBtnCreate {
    display: flex;

    justify-content: end;
}